[submodule "flipper-fw"]
	path = flipper-fw
	url = git@github.com:flipperdevices/flipperzero-firmware.git
[submodule "flipper_proto"]
	path = flipper_proto
	url = git@github.com:flipperdevices/flipperzero_protobuf_py.git
[submodule "flipper-nfc"]
	path = flipper-nfc
	url = git@github.com:flipperdevices/flipperzero-nfc-tools.git
