[submodule "flipper-nfc"]
	path = flipper-nfc
	url = git@github.com:flipperdevices/flipperzero-nfc-tools.git
[submodule "flipperzero_protobuf_py"]
	path = flipperzero_protobuf_py
	url = git@github.com:flipperdevices/flipperzero_protobuf_py.git
